# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class


# =========================
# Virtual environments
# =========================
# Conda
.env/
.conda/
conda-env/
env/
venv/
.venv/

# =========================
# Packaging / build
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Logs / temp
# =========================
*.log
*.tmp
*.swp
*.bak

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Conda specific
# =========================
# Do NOT commit these
*.conda
*.tar.bz2
*.lock

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# SQLite
# =========================
*.sqlite
*.sqlite3
*.db

# =========================
# API folders
# =========================
API/

# =========================
# Useless folders
# =========================
sandbox/